In [36]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sbn
import pandas as pd
from datetime import datetime
import time
from sklearn.ensemble import RandomForestClassifier
from pandas.api.types import CategoricalDtype

%matplotlib inline
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
plt.style.use('default') 
sbn.set(style="whitegrid")

# **Satinización de archivos de edad y genero**

In [2]:
#Antes que nada, me intriga si los archivos de 'datos_navent' y los de 'hasta15/4' tienen overlap, son redundantes o consecutivos
genero_edad_postulantes = pd.read_csv(
    'datos/datos_navent/fiuba_2_postulantes_genero_y_edad.csv'
).merge(
    pd.read_csv('datos/hasta_15_4/fiuba_2_postulantes_genero_y_edad.csv'),
    on=['idpostulante','fechanacimiento','sexo'],
    how='outer'
)
def postulantes_str2timestamp(s): # debo
    if type(s) is datetime:
        return s
    try:
        return datetime.strptime(s, '%Y-%m-%d')
    except:
        return None
#veo que hay repetidos por id
#veo que hay gente (4) con sexo '0'
# Genero una funcion para satinizar archivos de postulantes_genero_edad
genero_categoria = CategoricalDtype(categories=["MASC","FEM","NO_DECLARA"], ordered=False)
def satinize_postulante_genero_edad(df):
    df['sexo'] = df['sexo'].astype(genero_categoria).fillna("NO_DECLARA")
    df = df.drop_duplicates(subset='idpostulante')
    df['fechanacimiento']= df['fechanacimiento'].map(postulantes_str2timestamp)
    mean_datetime = datetime.now()
    df['fechanacimiento']= df['fechanacimiento'].map(lambda it: it if it else mean_datetime)
    df['edad'] = df.fechanacimiento.apply(lambda it: 2018 - it.year)
    df = df[df.edad >17][df.edad<105]
    return df
genero_edad_postulantes = satinize_postulante_genero_edad(genero_edad_postulantes)
genero_edad_postulantes.shape[0]
educacion_postulantes = pd.read_csv(
    'datos/datos_navent/fiuba_1_postulantes_educacion.csv'
).merge(pd.read_csv('datos/hasta_15_4/fiuba_1_postulantes_educacion.csv'))
print(educacion_postulantes.isna().any()) #no hay nulos
print(educacion_postulantes.duplicated().value_counts())#ni duplicados
def generar_nivel_educativo(postulantes, educacion):
    #Considero como nivel educativo el maximo nivel que alcanzaron que fue completado.
    #Descarto estudios en curso o abandonados, quizas deba volver aca en algun momento
    tipo_estudio = CategoricalDtype(
        categories=["Otro","Secundario","Terciario/Técnico","Universitario","Posgrado","Master","Doctorado"],
        ordered=True
    )
    educacion = educacion[educacion.estado=='Graduado'].drop(['estado'],1)
    educacion.nombre= educacion.nombre.astype(tipo_estudio)
    educacion = educacion.sort_values(by='nombre',ascending=True)
    educacion = educacion.drop_duplicates(subset='idpostulante',keep='last')
    postulantes = postulantes.merge(educacion, on='idpostulante')
    postulantes = postulantes.rename(index=str,columns={'nombre':'nivel_educativo'})
    return postulantes.copy()
postulantes = generar_nivel_educativo(genero_edad_postulantes, educacion_postulantes)
del genero_edad_postulantes

/home/vasectomio/.virtualenv/datos/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/vasectomio/.virtualenv/datos/lib/python3.6/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/vasectomio/.virtualenv/datos/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/vasectomio/.virtualenv/datos/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

idpostulante    False
nombre          False
estado          False
dtype: bool
False    137072
dtype: int64

In [3]:
vistas = pd.concat([
    pd.read_csv('datos/hasta_15_4/fiuba_3_vistas.csv'),
    pd.read_csv('datos/datos_navent/fiuba_3_vistas.csv')
]).drop_duplicates()
print("nulos: ",vistas.isna().any()) #no hay nulos
print("duplicados: ",vistas.duplicated().value_counts())#ni duplicados

nulos:  idAviso         False
timestamp       False
idpostulante    False
dtype: bool
duplicados:  False    6682624
dtype: int64

In [4]:
def agregar_cantidad_anuncios(df, nombre_columna, anuncios):
    values = pd.DataFrame()
    value_counts = anuncios['idpostulante'].value_counts()
    values['idpostulante'] = value_counts.index
    values[nombre_columna] = value_counts.values
    df = pd.merge(df,values, on='idpostulante',how='left')
    df[nombre_columna] = df[nombre_columna].fillna(0)
    return df
postulantes = agregar_cantidad_anuncios(postulantes, 'anuncios_vistos', vistas)

## postulaciones

In [5]:
postulaciones = pd.read_csv(
    'datos/datos_navent/fiuba_4_postulaciones.csv'
).merge(pd.read_csv('datos/hasta_15_4/fiuba_4_postulaciones.csv'))
print(postulaciones.count)
print(postulaciones.drop_duplicates().count) #no hay duplicados!
print(postulaciones.head())
def sanitize_postulaciones(df):
    postulaciones['date'] = pd.to_datetime(postulaciones['fechapostulacion']).dt.date
    postulaciones['time'] = pd.to_datetime(postulaciones['fechapostulacion']).dt.time
    return postulaciones.copy()
postulaciones = sanitize_postulaciones(postulaciones)
print(postulaciones.head())

<bound method DataFrame.count of             idaviso idpostulante     fechapostulacion
0        1112286523         ZaO5  2018-01-24 15:07:39
1        1112272060         ZaO5  2018-01-24 15:20:10
2        1112288401         ZaO5  2018-01-26 08:37:04
3        1112300563         ZaO5  2018-01-30 13:35:48
4        1112293018         ZaO5  2018-01-31 08:41:05
5        1112301287         ZaO5  2018-01-31 08:55:20
6        1112309589         ZaO5  2018-02-03 15:55:15
7        1112317020         ZaO5  2018-02-07 09:56:22
8        1112322363         ZaO5  2018-02-09 10:29:54
9        1112327122         ZaO5  2018-02-11 17:49:26
10       1112315062         ZaO5  2018-02-11 18:08:14
11       1112348722         ZaO5  2018-02-21 19:53:24
12       1112347076         ZaO5  2018-02-21 20:10:19
13       1112346704         ZaO5  2018-02-21 20:15:35
14       1112346547         ZaO5  2018-02-21 20:17:29
15       1112335122         ZaO5  2018-02-21 20:23:19
16       1112350663         ZaO5  2018-02-21 20:25:29
17       1112346564         ZaO5  2018-02-21 20:26:54
18       1112343977         ZaO5  2018-02-21 20:29:24
19       1112345203         ZaO5  2018-02-21 20:29:54
20       1112303217         ZaO5  2018-02-21 20:30:29
21       1112345900         ZaO5  2018-02-21 20:33:00
22       1112364763         ZaO5  2018-02-27 20:54:50
23       1112261212         NdJl  2018-01-16 08:50:30
24       1112273308         NdJl  2018-01-23 07:53:47
25       1112281548         NdJl  2018-01-24 05:10:12
26       1112260409         NdJl  2018-01-24 05:17:29
27       1112293547         NdJl  2018-01-29 15:41:43
28       1112287915         NdJl  2018-01-29 15:42:39
29       1112303880         NdJl  2018-01-31 15:16:48
...             ...          ...                  ...
1706700  1112336254      qe21A9X  2018-02-28 22:30:47
1706701  1112314018      qe21A9X  2018-02-28 22:35:30
1706702  1111890741      qe21A9X  2018-02-28 22:39:21
1706703  1112340866      qe21A9X  2018-02-28 22:40:01
1706704  1112347055      2zP6J11  2018-02-28 22:22:39
1706705  1112369432      8MPox8j  2018-02-28 22:52:13
1706706  1112362468      8MPox8j  2018-02-28 23:26:51
1706707  1110478766      zvabpEJ  2018-02-28 22:47:13
1706708  1112186855      8MPoxGz  2018-02-28 22:45:24
1706709  1112367875      8MPoxGz  2018-02-28 22:55:00
1706710  1112364777      8MPoxGz  2018-02-28 22:59:25
1706711  1111636821      8MPoxGz  2018-02-28 23:00:02
1706712  1111414561      8MPoxGz  2018-02-28 23:02:17
1706713  1112361855      ow2p8Wr  2018-02-28 22:56:30
1706714  1112369825      pzdkx1p  2018-02-28 22:38:12
1706715  1112359807      akjVlK9  2018-02-28 22:51:04
1706716  1112152590      vVja48E  2018-02-28 22:57:51
1706717  1112368214      ow2p8vk  2018-02-28 23:13:17
1706718  1112369739      mzdNo99  2018-02-28 22:59:12
1706719  1112369774      Nzr1J34  2018-02-28 22:57:20
1706720  1112369571      Nzr1J34  2018-02-28 23:05:40
1706721  1112364915      mzdNorY  2018-02-28 23:49:06
1706722  1112241774      mzdNorY  2018-02-28 23:54:42
1706723  1112341154      mzdNorY  2018-02-28 23:58:14
1706724  1112348533      6rPEvzO  2018-02-28 23:27:25
1706725  1112369306      ow2p8Z0  2018-02-28 23:23:36
1706726  1112367705      ow2p8Z0  2018-02-28 23:23:57
1706727  1112366909      ow2p8Z0  2018-02-28 23:26:49
1706728  1112308651      8MPoxDW  2018-02-28 23:52:13
1706729  1112341128      8MPoxDW  2018-02-28 23:59:06

[1706730 rows x 3 columns]>
<bound method DataFrame.count of             idaviso idpostulante     fechapostulacion
0        1112286523         ZaO5  2018-01-24 15:07:39
1        1112272060         ZaO5  2018-01-24 15:20:10
2        1112288401         ZaO5  2018-01-26 08:37:04
3        1112300563         ZaO5  2018-01-30 13:35:48
4        1112293018         ZaO5  2018-01-31 08:41:05
5        1112301287         ZaO5  2018-01-31 08:55:20
6        1112309589         ZaO5  2018-02-03 15:55:15
7        1112317020         ZaO5  2018-02-07 09:56:22
8        1112322363         ZaO5  2018-02-09 10:29:54
9        1112327122         ZaO5  2018-02-11 17:49:26
10       1112315062         ZaO5  2018-02-11 18:08:14
11       1112348722         ZaO5  2018-02-21 19:53:24
12       1112347076         ZaO5  2018-02-21 20:10:19
13       1112346704         ZaO5  2018-02-21 20:15:35
14       1112346547         ZaO5  2018-02-21 20:17:29
15       1112335122         ZaO5  2018-02-21 20:23:19
16       1112350663         ZaO5  2018-02-21 20:25:29
17       1112346564         ZaO5  2018-02-21 20:26:54
18       1112343977         ZaO5  2018-02-21 20:29:24
19       1112345203         ZaO5  2018-02-21 20:29:54
20       1112303217         ZaO5  2018-02-21 20:30:29
21       1112345900         ZaO5  2018-02-21 20:33:00
22       1112364763         ZaO5  2018-02-27 20:54:50
23       1112261212         NdJl  2018-01-16 08:50:30
24       1112273308         NdJl  2018-01-23 07:53:47
25       1112281548         NdJl  2018-01-24 05:10:12
26       1112260409         NdJl  2018-01-24 05:17:29
27       1112293547         NdJl  2018-01-29 15:41:43
28       1112287915         NdJl  2018-01-29 15:42:39
29       1112303880         NdJl  2018-01-31 15:16:48
...             ...          ...                  ...
1706700  1112336254      qe21A9X  2018-02-28 22:30:47
1706701  1112314018      qe21A9X  2018-02-28 22:35:30
1706702  1111890741      qe21A9X  2018-02-28 22:39:21
1706703  1112340866      qe21A9X  2018-02-28 22:40:01
1706704  1112347055      2zP6J11  2018-02-28 22:22:39
1706705  1112369432      8MPox8j  2018-02-28 22:52:13
1706706  1112362468      8MPox8j  2018-02-28 23:26:51
1706707  1110478766      zvabpEJ  2018-02-28 22:47:13
1706708  1112186855      8MPoxGz  2018-02-28 22:45:24
1706709  1112367875      8MPoxGz  2018-02-28 22:55:00
1706710  1112364777      8MPoxGz  2018-02-28 22:59:25
1706711  1111636821      8MPoxGz  2018-02-28 23:00:02
1706712  1111414561      8MPoxGz  2018-02-28 23:02:17
1706713  1112361855      ow2p8Wr  2018-02-28 22:56:30
1706714  1112369825      pzdkx1p  2018-02-28 22:38:12
1706715  1112359807      akjVlK9  2018-02-28 22:51:04
1706716  1112152590      vVja48E  2018-02-28 22:57:51
1706717  1112368214      ow2p8vk  2018-02-28 23:13:17
1706718  1112369739      mzdNo99  2018-02-28 22:59:12
1706719  1112369774      Nzr1J34  2018-02-28 22:57:20
1706720  1112369571      Nzr1J34  2018-02-28 23:05:40
1706721  1112364915      mzdNorY  2018-02-28 23:49:06
1706722  1112241774      mzdNorY  2018-02-28 23:54:42
1706723  1112341154      mzdNorY  2018-02-28 23:58:14
1706724  1112348533      6rPEvzO  2018-02-28 23:27:25
1706725  1112369306      ow2p8Z0  2018-02-28 23:23:36
1706726  1112367705      ow2p8Z0  2018-02-28 23:23:57
1706727  1112366909      ow2p8Z0  2018-02-28 23:26:49
1706728  1112308651      8MPoxDW  2018-02-28 23:52:13
1706729  1112341128      8MPoxDW  2018-02-28 23:59:06

[1706730 rows x 3 columns]>
      idaviso idpostulante     fechapostulacion
0  1112286523         ZaO5  2018-01-24 15:07:39
1  1112272060         ZaO5  2018-01-24 15:20:10
2  1112288401         ZaO5  2018-01-26 08:37:04
3  1112300563         ZaO5  2018-01-30 13:35:48
4  1112293018         ZaO5  2018-01-31 08:41:05
      idaviso idpostulante     fechapostulacion        date      time
0  1112286523         ZaO5  2018-01-24 15:07:39  2018-01-24  15:07:39
1  1112272060         ZaO5  2018-01-24 15:20:10  2018-01-24  15:20:10
2  1112288401         ZaO5  2018-01-26 08:37:04  2018-01-26  08:37:04
3  1112300563         ZaO5  2018-01-30 13:35:48  2018-01-30  13:35:48
4  1112293018         ZaO5  2018-01-31 08:41:05  2018-01-31  08:41:05

## Archivo 'avisos_detalle'

In [6]:
avisos_detalle = pd.concat([
    pd.read_csv('datos/datos_navent/fiuba_6_avisos_detalle.csv'),
    pd.read_csv('datos/hasta_15_4/fiuba_6_avisos_detalle.csv'),
    pd.read_csv('datos/fiuba_6_avisos_detalle_missing_nivel_laboral.csv')
])
#ESTE DF TIENE MUCHOS DATOS NULOS EN LAS COLUMNAS DE 'CIUDAD' y 'MAPACALLE'. 
#Decidimos eliminarlas ya que no nos parecieron muy relevantes para el analisis
#idpais solo tiene valor 1, la descripcion nunca es nula
#avisos_detalle.drop('descripcion',1,inplace=True)
tipo_trabajo = CategoricalDtype(
    categories=["Full-time","Part-time","Teletrabajo","Por Horas","Pasantia","Temporario","Por Contrato","Fines de Semana","Primer empleo"],
    ordered=True #de 'mas fijo' a 'menos fijo'
)
avisos_detalle.nombre_area.value_counts()# hay muchas areas, no van a tener su propia categoria
def sanitize_aviso_detalle(df):
    df['tipo_de_trabajo'] = df['tipo_de_trabajo'].astype(tipo_trabajo)
    #df.titulo = df.titulo.apply(lambda it: it.lower())
    #df.descripcion = df.descripcion.apply(lambda it: it.lower())
    df = df.drop_duplicates(subset='idaviso')
    return df.drop(['ciudad','idpais','mapacalle'],1)
avisos_detalle = sanitize_aviso_detalle(avisos_detalle)

# Defino los shingles de cada anuncio

In [7]:
def shingles(string, n = 3):
    return [string[i:i + n] for i in range(len(string) - n + 1)]

def jaccard_similarity(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    print(set(list1).intersection(list2))
    union = (len(list1) + len(list2)) - intersection
    print(union)
    return float(intersection / union)
#avisos_detalle['shingles_descripcion'] = avisos_detalle.descripcion.apply(shingles)
#avisos_detalle['shingles_titulo'] = avisos_detalle.titulo.apply(shingles)

In [26]:
postulantes_entrenamiento = postulantes.sample(n=int(postulantes.shape[0]*0.75))
joined = postulantes_entrenamiento.merge(
    postulaciones.loc[:,['idpostulante','idaviso']],on='idpostulante',how='left'
).merge(
    avisos_detalle,on='idaviso'
)
grouped = joined.groupby('idpostulante')

NameError: name 'functools' is not defined

# Generar un resultado

In [9]:
tentativa = pd.read_csv('datos/template_resultado.csv')
submit = pd.DataFrame()
submit['id'] = tentativa['id']
submit = submit.set_index('id')
submit['sepostulo'] =0
submit.to_csv(path_or_buf='submit.csv')
submit

       sepostulo
id
0              0
1              0
2              0
3              0
4              0
5              0
6              0
7              0
8              0
9              0
10             0
11             0
12             0
13             0
14             0
15             0
16             0
17             0
18             0
19             0
20             0
21             0
22             0
23             0
24             0
25             0
26             0
27             0
28             0
29             0
...          ...
99970          0
99971          0
99972          0
99973          0
99974          0
99975          0
99976          0
99977          0
99978          0
99979          0
99980          0
99981          0
99982          0
99983          0
99984          0
99985          0
99986          0
99987          0
99988          0
99989          0
99990          0
99991          0
99992          0
99993          0
99994          0
99995          0
99996          0
99997          0
99998          0
99999          0

[100000 rows x 1 columns]